body {
  background-color: #282c34;
}

.App {
  text-align: center;
  background-color: #282c34;
  /* width: 100vh; */
  height: 100vh;
}

.uploadInput {
  /* width: 400px;
    height: 100px;
   margin: auto; */

  vertical-align: bottom;
  text-align: center;
  /* top: 250px; */
  margin-left: 15px;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 40vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.item {
  background-color: #ffffff08;
}

.uploadContainer {
  background-color: white;
  /* max-width: 200vh; */
  display: flex;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2vh;
  align-items: center;
  justify-content: center;
}
.Progress-Container {
  width: 250px;
  margin: auto;
  margin-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

.results {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Transcript-Container {
  background-color: #eaeaea;
  min-width: 200px;
  min-height: 200px;
  width: 800px;
  /* height: 200px; */
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
  display: inline-block;
}

.Transcript {
  vertical-align: middle;
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
