body {
  background-color: black;
}

.App {
  text-align: center;
  background-color: black;
  /* width: 100vh; */
  height: 100vh;
}

.Header-Logo{
  width: 150px;
  /* position: relative;
  float: left; */
}
.Header-Name{
  font-weight: bold;
  /* width: 200px; */
  /* position: relative;
  float: left; */
}

.uploadInput {
  /* width: 400px;
    height: 100px;
   margin: auto; */

  vertical-align: bottom;
  text-align: center;
  /* top: 250px; */
  /* margin-left: 15px; */
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 40vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  color: white;
}

.item {
  background-color: #ffffff08;
}

.Text-Explanation{
  color: white;
}

.uploadContainer {
  background-color: black; 
  /* max-width: 200vh; */
  display: flex;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  border: 2px dashed;
  border-radius: 2vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: white;
  font-size: 12px;
  animation: fadeInUp 1s;
}

.uploadContainer:hover {
  background-color: rgb(49, 49, 49);
  color: white;
  border: 2px dashed;
}

.upload-icon {
  height: 8vmin;
  pointer-events: none;
}


.Progress-Container {
  width: 250px;
  margin: auto;
  /* margin-bottom: 20px; */
}

.item{
  background-color: #2c2b2b;
}

.App-link {
  color: #61dafb;
}

.Widget{
  width: 100%;
  height: 100%;
}

.Widget-Title{
  color: white;
  margin-top: 10px;
}

.Loader-Container{
  width: 100%;
  height: 100%;

}

.Dashboard-Loader{
  margin-top: 130px;
}

.results {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Transcript-Container {
  background-color: #eaeaea;
  min-width: 200px;
  min-height: 200px;
  width: 800px;
  /* height: 200px; */
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
  display: inline-block;
}

.Transcript {
  vertical-align: middle;
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
